<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>Magazin de masini</title>
    <meta name="keywords" content="motor, cai putere" />
    <meta name="description" content="Vrum vrum" />
    <link rel="stylesheet" href="./resurse/css/403.css">
    <%- include("../fragmente/head.ejs"); %>
    
  </head>
  <body>
    <%- include("../fragmente/header.ejs"); %>
    <main>
      <div class="forbidden-container">
        <p class="forbidden-nicetry"><span class="fa-solid fa-hat-cowboy"></span>Nice try!<span class="fa-solid fa-hat-cowboy"></span></p>
        <p class="forbidden-text">403 - PAGE FORBIDDEN</p>
      </div>
    </main>
    <%- include("../fragmente/footer.ejs"); %>
    
  </body>
</html>
