<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>Magazin de masini</title>
    <meta name="keywords" content="motor, cai putere" />
    <meta name="description" content="Vrum vrum" />
    <link rel="stylesheet" href="./resurse/css/404.css">
    <%- include("../fragmente/head.ejs"); %>

    
  </head>
  <body>
    <%- include("../fragmente/header.ejs"); %>
    <main>
      <div class="not-found-container">
        <p class="not-found-oops"><span class="fa-solid fa-magnifying-glass"></span>Oops!<span class="fa-solid fa-magnifying-glass"></span></p>
        <p class="not-found-text">404 - PAGE NOT FOUND</p>
        <!-- <div class="not-found-dacia"><img src="/resurse/imagini/dacia.jpg" alt="dacia"></div> -->
        <img src="/resurse/imagini/dacia.jpg" alt="dacia" style="width: 40%; height: 40%">
      </div>
    </main>
    <%- include("../fragmente/footer.ejs"); %>
    
  </body>
</html>
