* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

body {
  /* #BABDF0 */
  --colorA: #2b2d99;
  --colorB: #1a1b5c;
  --colorC: #babdf0;
  --colorD: #4043e6;
  --colorE: #3336b8;
  background-color: var(--colorC);
}

body.dark {
  --colorA: orange;
  --colorC: pink;
}

#grid-container {
  left: 5%;
  width: 90%;
  height: 175em;
  position: relative;
  z-index: 2;
  margin-top: 5em;
  display: grid;
  grid-template-areas:
    "id1 id1 id1"
    "id3 id2 id4"
    "id5 id2 id4"
    "id5 id6 id7"
    "id8 id8 id8";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

@media screen and (max-width: 1250px) {
  #grid-container {
    display: grid;
    grid-template-areas:
      "id1 id1 id1"
      "id3 id2 id2"
      "id5 id2 id2"
      "id5 id6 id6"
      "id4 id4 id7"
      "id8 id8 id8";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
  }
  * {
    font-size: 17px;
  }
}

@media screen and (max-width: 750px) {
  #grid-container {
    display: grid;
    grid-template-areas:
      "id1 id1 id1"
      "id2 id2 id2"
      "id3 id3 id3"
      "id4 id4 id4"
      "id5 id5 id5"
      "id6 id6 id6"
      "id7 id7 id7"
      "id8 id8 id8";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 0.5rem;
  }
  * {
    font-size: 15px;
  }
}

#grid-container > * {
  border: 1px solid var(--colorD);
  border-radius: 5px;
}

#id1 {
  grid-area: id1;
}

#id2 {
  grid-area: id2;
}

#id3 {
  grid-area: id3;
}

#id4 {
  grid-area: id4;
}

#id5 {
  grid-area: id5;
}

#id6 {
  grid-area: id6;
}

#id7 {
  grid-area: id7;
}

#id8 {
  position: inherit;
  grid-area: id8;
}

div.polaroid {
  display: inline-block;
  margin: auto;
  width: 40%;
  background-color: var(--colorA);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: -2;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}


.creator {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  left: 40%;
  top: 10%;
  width: 200px;
}

.creator-text {
  display: none;
}

.creator-image {
  position: relative;
}

.creator-image:hover + .creator-text {
  color: red;
  display: block;
  position: absolute;
  width: 100%;
  /* background-color: var(--colorE); */
}

#home-write {
  display: block;
  font-size: 30px;
}

#home-display {
  display: none;
}

@media screen and (max-width: 1250px) {
  #home-display {
    display: inline-block;
  }
  #home-write {
    display: none;
  }
}

#hamburger {
  display: none;
  height: 3rem;
}
#ch-menu {
  display: none;
}
#ch-submenu {
  display: none;
}

#hamburger img {
  height: 100%;
  width: auto;
}

ul.menu > li:hover > a::after,
ul.menu > li:hover > div::after {
  display: block;
  width: 100%;
  height: 5px;
  content: "";
  position: relative;
  transition: 1s all linear;
}

ul.menu > li > a::after,
ul.menu > li > div::after {
  display: block;
  background: linear-gradient(to right, var(--colorA), white);
  background-size: 500% 500%;
  background-position: 400%;
  animation: bottom-gradient 3s;
}

@keyframes bottom-gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@media screen and (max-width: 750px) {
  #hamburger {
    display: block;
    width: 20px;
  }
  #ch-menu:checked + ul.menu {
    display: flex;
    flex-direction: column;
    animation-name: spin;
    animation-duration: 1s;
    transform-origin: top left;
  }
  #ch-menu:checked + ul.menu > li {
    width: 100%;
  }
  nav ul.menu {
    display: none;
  }
  nav ul.menu ul {
    position: relative;
  }
  #ch-menu > li > a,
  #ch-menu > li > div {
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    border: 1px solid black;
    background-color: var(--colorA);
    height: 2rem;
    font-size: 1.5rem;
  }
  #ch-menu > li > a:hover,
  #ch-menu > li > div:hover {
    color: white;
  }
  ul.menu > li:hover > a::after,
  ul.menu > li:hover > div::after {
    display: none;
  }
}

@keyframes spin {
  from {
    opacity: 0;
    transform: rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

nav ul.menu ul {
  display: none;
  position: absolute;
  width: 100%;
}

/* ul.menu > li > a:hover,
ul.menu > li > div:hover {
  padding-bottom: 5px;
  background: linear-gradient(
      to left,
      white 0%,
      black 100%
    )
    left bottom no-repeat;
  background-size: 100% 5px;
} */

ul.menu a:hover,
ul.menu div:hover {
  transition: 1s;
  transition-property: width;
  color: white;
}

nav ul.menu li ul.submenu li a {
  transition: 1s;
}

ul.submenu {
  position: absolute;
}

nav ul.menu li {
  position: relative;
  z-index: 999999;
}

nav ul.menu li ul.submenu li a:hover {
  background-color: var(--colorB);
}

nav {
  width: 100%;
  height: 3rem;
  padding: 0;
  top: 0px;
  z-index: 5;
  position: sticky;
}

nav ul,
nav li {
  padding: 0;
  margin: 0;
}

nav ul.menu > li {
  position: relative;
  float: left;
  width: 16.6%;
}

nav ul.menu li a,
nav ul.menu li div {
  text-decoration: none;
  color: black;
  display: block;
  position: relative;
  border: 1px solid black;
  /* border-radius: 15px; */
  background-color: var(--colorA);
  height: 2rem;
  font-size: 1.5rem;
  /* border-bottom: 5px solid; */
}

nav ul.menu li {
  top: 50%;
  list-style-type: none;
  cursor: pointer;
  text-align: center;
}

nav ul.menu > li:hover > ul {
  display: block;
  animation: show-submenu;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transform: 50% 0;
}

@keyframes show-submenu {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid grey;
  border-radius: 70px;
  position: relative;
  display: block;
  z-index: 100;
  transform: rotate(-45deg);
}

.rotated-square {
  background-color: var(--colorA);
  display: block;
  border: solid;
  border-color: grey;
  border-width: 3px;
  width: 45px;
  height: 45px;
  transform: rotate(45deg);
  position: fixed;
  left: 25px;
  bottom: 20px;
  z-index: 100;
  opacity: 0.2;
}

.rotated-square:hover {
  background-color: var(--colorD);
  transition: 0.8s;
  opacity: 1;
}

.triangle:hover {
  border-bottom: 40px solid white;
  transition: 0.8s;
}

#cont-linkuri a {
  display: block;
  height: 50px;
  font-size: 25px;
  width: 200px;
  border: 2px solid purple;
  border-left-width: 5px;
  background-color: pink;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-decoration: none;
  text-align: center;
  color: black;
  line-height: 30px;
  transform: all 1s linear;
}

#cont-linkuri {
  display: flex;
  flex-direction: column;
}

#cont-linkuri a:hover {
  background-color: skyblue;
  color: white;
}

#cont-iframe {
  display: flex;
  flex-direction: row;
  position: static;
}

::cue {
  background: rgba(255, 255, 255, 0.3);
  color: var(--colorD);
  font-size: 20px;
}

.icon-wapp:hover,
.icon-pin:hover {
  animation: icon-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes icon-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


#tab th,
#tab td {
  border: 1px solid black;
}

#tab {
  border-spacing: 5px;
}

#tab tfoot {
  text-align: center;
}

@media screen and (max-width: 750px) {
  #tab {
    border-spacing: 0px;
  }
  #div-table {
    overflow-x: scroll;
  }
}

#tab {
  width: 50em;
}

#tab td {
  height: 5em;
  text-align: center;
}

#tab {
  caption-side: bottom;
}

#tab tbody tr:nth-child(even), #tab tfoot tr:nth-child(even){
  background-color: yellow;
}

#tab tbody tr:nth-child(odd), #tab tfoot tr:nth-child(odd) {
  background-color: green;
}

#tab tbody tr:hover, #tab tfoot tr:hover {
  background-color: red;
  transition: 1s;
}

#line {
  background-color: green;
  height: 5px;
  width: 90%;
  border-top: 10px solid orange;
  border-bottom: 10px solid orange;
  border-left: 30px solid green;
  border-right: 30px solid green;
}


#btn_tema {
  background-color: transparent;
  border: 0;
  width: 3em;
  height: 3em;
}

#btn_tema:hover {
  cursor: pointer;
}
