<link rel="stylesheet" href="/resurse/css/print.css">

<footer>
    <a href="#">Top</a>
    <address>
      <a href="tel:+40752840818">Numar de telefon</a>
      <br />
      <a href="mailto:trifangrobert@gmail.com">3funnn</a>
      <br />
      <a href="https://goo.gl/maps/5qfeHsNX6L9vd9wX9" target="_blank">FMI</a>
      <br />
      <a href="https://wa.me/+40752840818" target="_blank">whatsapp</a>
      <br />
    </address>
    <small
      >&copy;<time datetime="2022-02-19 00:00"
        >Anul 1, semestrul 2</time
      ></small
    >
  </footer>